
.banner {
    width: 100% ;
    height: 40rem;
    margin-top: 2rem;
    background: #f3f3f3;
    display: flex;
}

.banner-desc {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 5rem;
    flex-basis: 50%;
}

.banner-desc h1 {
    font-size: 4.8rem;
    margin-bottom: 1rem;
}

.banner-img {
    position: relative;
    width: 100%;
    height: 100%;
    flex-basis: 50%;
    overflow: hidden;
}

.banner-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translateX(5rem)
}


.content {
    width: 100%;
    min-height: 100vh;
    position: relative;
    display: flex;
    animation: fadeIn .5s ease;
 
  }



  